<div class="ph2">

	<!-- Title -->
	<h3 class="b f5 tc lh-title mb3">{{ .plan | markdownify }}</h3>

	<!-- Price -->
	<p class="primary f1 b tc lh-title center">
		<span class="f4">$</span>{{ .price | markdownify }}
	</p>

	<!-- Features -->
	<ul>
		{{ $itemCount := len .items }}
		{{ range $index, $item := .items }}
		<li>
			<p class="{{ if ne (add 1 $index) $itemCount }}pb2 mb2 divider-grey{{ end }}">{{ $item | markdownify }}</p>
		</li>
		{{ end }}
	</ul>

	<!-- Description -->
	<p class="grey-3">{{ .description | markdownify }}</p>
</div>
