{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title ) }}

<!-- Content Markdown from site\content\menu\_index.md -->
<!-- {{ .Content  | markdownify }} -->

{{/*
  partial "short-text"
  (dict "heading" "Download Menu" "text" "[🔗 Download Menu PDF](/menu/pdf)")
*/}}


<!-- {{ partial "blockquote" (dict "quote" "Download Menu PDF") }} -->


<!-- Intro -->
<!-- {{ partial "4-up" .Params.intro }} -->
<!-- {{ partial "short-text" .Params.intro }} -->


{{ with .Params.main }}
  <div class="ph3 mb3 mt4 tc">
    <p>{{ .description | markdownify }}</p>
    <h2 class="f2 lh-title mb2">{{ .heading | markdownify }}</h2>
  </div>

  <!-- Menu Image Grid -->
  {{ partial "image-grid" . }}
{{ end }}

{{ partial "table" .Params.pricing }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

{{ end }}
